<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReactNativeDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E62AAC3C1E34AD9E0014BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E62AAC551E34ADA10014BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E62AAC601E34ADA10014BBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
